@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
    display: block;
    width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.header {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.title {
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav {
    padding: 0;
    list-style: type;
}

.nav a {
    display: block;
    text-decoration: none;
    color: #0074D9;
}

.light-grey {
    background-color: #efefef
}
.med-grey {
    background-color: #e2e2e2;
}

.dark-grey {
    background-color: #ccc;
}

.deck {
    background-color: #e2e2e2;
    text-align: center;
}

.nav li {
        display: inline;
    }

@media only screen and (min-width: 25em){
    
    .nav {
        text-align: center;
    }
    .nav li {
        display: inline-block;
    }
    
    .footer {
        text-align: center;
    }
    
    .footer a:before {
        content: " · ";
    }
     
    .footer li:first-child a:before {
        content: none;
    }
    
}

@media only screen and (min-width: 45em){
    .title {
        text-align: left;
    }
    
    .nav {
        text-align: left;
    }

    .footer {
        text-align: left;
    }
    
    .footer nav{
        float: right;
    }
}

@media only screen and (min-width: 65em){
    .info {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

